@media screen and (max-width: 768px) {

    .menu-lateral {
        display: none;
    }

    .menu-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 65px;

        display: flex;
        align-items: center;
        justify-content: space-around;

        background: #130A24;
        border-top: 1px solid rgba(138, 77, 255, .25);

        z-index: 1000;
    }

    .item-menu-mobile {
        height: 100%;
        min-width: 70px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;

        color: #81798F;
        text-decoration: none;

        font-size: 9px;

        transition: .2s ease;
    }

    .item-menu-mobile i {
        font-size: 20px;
    }

    .item-menu-mobile.active {
        color: #B06EFF;
    }

    .item-menu-mobile:hover {
        color: #FFFFFF;
    }

}