* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #090912;
}

/*CSS NAVEGAÇÃO SUPERIOR*/
header {
    background-color: #130A24;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    border-bottom: 2px solid rgba(138,77,255,.25);
}

.nav-conterner {
    display: flex;
    gap: 2px;
    align-items: center;
}

.nav-conterner button {
    border: none;
    margin-left: 15px;
    margin-right: 5px;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    background-color: transparent;
    transition: 0.5s;
}

.nav-conterner button:hover{
    background-color: #8A4DFF;
}

.nav-conterner button i {
    font-size: 15px;
    color: azure;
}

.nav-conterner img {
    width: 50px;
    height: 50px;
}

span {
    font-family: "Aldrich", sans-serif;

    /*gradient*/
    background: linear-gradient(135deg, #fcfcfc 0%, #B06EFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 25px;
}
nav{
    display: flex;
    gap: 525px;
}

.pesquisa {
    display: flex;
    align-items: center;
}

input{
    width: 350px; /* Aumenta a largura da caixinha */
    height: 40px; /* Aumenta a altura da caixinha */
    padding: 10px; /* Cria um espaço entre a borda e o texto digitado */
    font-size: 18px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: none;
    background-color: #130A24;
    border-color: rgba(138,77,255,.25);
    color: #fff;
}

input:hover{
    border-color: rgba(82, 15, 206, 0.25);
}

.buscar{
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
    background-color: #130A24;
    border-color: rgba(134, 70, 253, 0.25);
    color: #8A4DFF;
}

.buscar:hover{
    cursor: pointer;
    color: #8A4DFF;
    background-color: #602f9c73;
}

.nav-perfil button{
    gap: 10px;
    margin-top: 10px;
    margin-left: 15px;
    height: 25px;
    width: 25px;
    background: none;
    border: none;
    cursor: pointer;
    color: #B8B8C8;
    transition: 0.2s;
    cursor: pointer;
}

.nav-perfil button i {
    font-size: 20px;
}

.nav-perfil button:hover{
    background-color: #32205F;
    border-radius: 50px;
}

/*Menu lateral*/

aside{
    background-color: #130A24;
    width: 250px; /* Aumenta a largura do fundo */
    height: 100%;
    border-right: 2px solid #8A4DFF;
    overflow-y: auto;
    gap: 10px;
    list-style-type: none;
    transition: 0.2s;
}

.lis{
    margin-top: 100px;
}

.label-inscritos{
    margin-left: 5px;
    margin-top: 5px;
}

.name{
    background: linear-gradient(135deg, #B8B8C8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    
}

hr {
  border: none;
  height: 2px; /* Espessura da linha */
  background: linear-gradient(
    to right, 
    transparent 0%, 
    #1D1136 20%, 
    #1D1136 80%, 
    transparent 100%
  );
}


aside li{
    text-align: start;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.2s;
    cursor: pointer;
}

aside li:hover{
    background-color: #32205F;
    border-left: 2px solid #B06EFF;
}

aside li .a{
    text-align: start;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

aside i {
    font-size: 25px;
    color: #fff;
    margin-right: 5px;
    margin-left: 2px;
}

.active{
    background: #B06EFF;
}

aside span{
    font-size: 15px;
    text-align: inherit;
}

.label-list{
    height: 580px;
}